<div [formGroup]="form">
  <mat-label>Role</mat-label>
  <mat-radio-group formControlName="role" (change)="onRoleChange($event.value)">
    <mat-radio-button value="Frontend">Frontend</mat-radio-button>
    <mat-radio-button value="Backend">Backend</mat-radio-button>
    <mat-radio-button value="Fullstack">Fullstack</mat-radio-button>
  </mat-radio-group>
  <mat-error *ngIf="getError('role')">{{ getError('role') }}</mat-error>

  <!-- Frontend -->
  <div *ngIf="isFrontendSelected" [formGroupName]="'frontend'">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Frontend Languages</mat-label>
      <mat-select formControlName="languages" multiple>
        <mat-option *ngFor="let lang of frontendLanguages" [value]="lang">{{
          lang
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="getError('frontend.languages')">{{
        getError('frontend.languages')
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Frontend Frameworks</mat-label>
      <mat-select formControlName="frameworks" multiple>
        <mat-option
          *ngFor="let fw of getFrameworkOptions('frontend')"
          [value]="fw"
          >{{ fw }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="getError('frontend.frameworks')">{{
        getError('frontend.frameworks')
      }}</mat-error>
    </mat-form-field>
  </div>

  <!-- Backend -->
  <div *ngIf="isBackendSelected" [formGroupName]="'backend'">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Backend Languages</mat-label>
      <mat-select formControlName="languages" multiple>
        <mat-option *ngFor="let lang of backendLanguages" [value]="lang">{{
          lang
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="getError('backend.languages')">{{
        getError('backend.languages')
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Backend Frameworks</mat-label>
      <mat-select formControlName="frameworks" multiple>
        <mat-option
          *ngFor="let fw of getFrameworkOptions('backend')"
          [value]="fw"
          >{{ fw }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="getError('backend.frameworks')">{{
        getError('backend.frameworks')
      }}</mat-error>
    </mat-form-field>
  </div>
</div>
