<mat-horizontal-stepper
  [linear]="true"
  #stepper
  (selectionChange)="onStepChange($event)"
>
  <!-- Step 1: Basic Info -->
  <mat-step [stepControl]="step1Form">
    <form [formGroup]="step1Form">
      <ng-template matStepLabel>Basic Info</ng-template>

      <section class="emphasized-section">
        <!-- Basic Info Form Here -->
        <app-basic-info-step [form]="step1Form"></app-basic-info-step>
      </section>
    </form>
  </mat-step>

  <!-- Step 2: Address -->
  <mat-step [stepControl]="step2Form">
    <form [formGroup]="step2Form">
      <ng-template matStepLabel>Address</ng-template>

      <section class="emphasized-section">
        <!-- Address Info Form Here -->
        <app-address-step [form]="step2Form"></app-address-step>
      </section>
    </form>
  </mat-step>

  <!-- Step 3: Personal Info -->
  <mat-step [stepControl]="step3Form">
    <form [formGroup]="step3Form">
      <ng-template matStepLabel>Personal Data</ng-template>

      <section class="emphasized-section">
        <!-- Address Info Form Here -->
        <app-personal-data-step [form]="step3Form"></app-personal-data-step>
      </section>
    </form>
  </mat-step>

  <!-- Step 4: Tech Stack -->
  <mat-step [stepControl]="step4Form">
    <form [formGroup]="step4Form">
      <ng-template matStepLabel>Tech Stack</ng-template>

      <section class="emphasized-section">
        <app-tech-stack-step [form]="step4Form"></app-tech-stack-step>
      </section>
    </form>
  </mat-step>

  <!-- Step 5: Summary -->
  <mat-step>
    <ng-template matStepLabel>Summary</ng-template>
    <div class="app-summary-step">
      <app-summary-step [summaryData]="summaryData"></app-summary-step>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<div class="stepper-actions">
  <button
    mat-raised-button
    color="primary"
    (click)="stepper.previous()"
    [disabled]="stepper.selectedIndex === 0"
  >
    Back
  </button>

  <button
    mat-raised-button
    color="accent"
    *ngIf="!isLastStep"
    (click)="stepper.next()"
    [disabled]="isStepInvalid(stepper.selectedIndex)"
  >
    Next
  </button>

  <button
    mat-raised-button
    color="primary"
    *ngIf="stepper.selectedIndex === stepper.steps.length - 1"
    (click)="finish()"
  >
    Finish
  </button>
</div>
