<div [formGroup]="form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>T-shirt Size</mat-label>
    <mat-select formControlName="tshirt">
      <mat-option *ngFor="let size of tshirtSizes" [value]="size">{{
        size
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="getError('tshirt')">{{ getError('tshirt') }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Allergies</mat-label>
    <input matInput placeholder="Allergies" formControlName="allergies" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Blood Type</mat-label>
    <mat-select formControlName="bloodType">
      <mat-option *ngFor="let blood of bloodTypes" [value]="blood">{{
        blood
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="getError('bloodType')">{{
      getError('bloodType')
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Hobbies</mat-label>
    <input matInput placeholder="Hobbies" formControlName="hobbies" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>LinkedIn</mat-label>
    <input matInput placeholder="LinkedIn URL" formControlName="linkedin" />
    <mat-error *ngIf="getError('linkedin')">{{
      getError('linkedin')
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>GitHub</mat-label>
    <input matInput placeholder="GitHub URL" formControlName="github" />
    <mat-error *ngIf="getError('github')">{{ getError('github') }}</mat-error>
  </mat-form-field>
</div>
